name: Upload Plugin Artifact to S3

on:
  workflow_call:
    inputs:
      plugin_name:
        required: true
        type: string
      branch_name:
        required: true
        type: string
      run_number:
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  upload:
    name: Upload to S3
    runs-on: ubuntu-latest

    env:
      AWS_ROLE_ARN: ${{ vars.AWS_ROLE_ARN || secrets.AWS_ROLE_ARN }}
      S3_PLUGIN_BUCKET: ${{ vars.S3_PLUGIN_BUCKET || secrets.S3_PLUGIN_BUCKET }}

    steps:
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: eu-central-1

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
            name: build-libs
            path: build/libs

      - name: Upload plugin artifact to S3
        run: |
          echo "Uploading artifact for ${{ inputs.plugin_name }}..."
          aws s3 cp build/libs/ \
            s3://${{ env.S3_PLUGIN_BUCKET }}/${{ inputs.plugin_name }}/${{ inputs.branch_name }}/build-${{ inputs.run_number }}/ \
            --recursive --exclude "*" --include "*.jar"

      - name: Delete uploaded artifact
        if: success()
        run: |
            echo "Deleting uploaded artifact from GitHub..."
            gh api \
            -X DELETE \
            repos/${{ github.repository }}/actions/artifacts/$(gh api repos/${{ github.repository }}/actions/artifacts --jq '.artifacts[] | select(.name=="build-libs") | .id') || true
