name: Upload Plugin Artifact to S3

on:
  workflow_call:
    inputs:
      plugin_name:
        required: true
        type: string
      branch_name:
        required: true
        type: string
      run_number:
        required: true
        type: string

jobs:
  upload:
    name: Upload to S3
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: eu-central-1

      - name: Upload plugin artifact to S3
        run: |
          echo "Uploading artifact for ${{ inputs.plugin_name }}..."
          aws s3 cp build/libs/ \
            s3://${{ secrets.S3_PLUGIN_BUCKET }}/${{ inputs.plugin_name }}/${{ inputs.branch_name }}/build-${{ inputs.run_number }}/ \
            --recursive --exclude "*" --include "*.jar"
